
<div class="row">
  <div class="col-md-12">
    <mat-form-field>
        <mat-label>กฟฟ. </mat-label>
        <mat-select (selectionChange)="selectPea($event)">
          <mat-option *ngFor="let pea of peaname" [value]="[pea.peaEng,pea.peaCode]">
            {{pea.peaCode +" "+pea.peaName}} 
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>


</div>

<div class="row">

<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics border-primary">
    <div class="card-body">
     <h3 class="text-primary">จำนวนงานคงค้างรวมทั้งหมด {{totalwbs | number}} งาน</h3>
      <canvas id='myDonut' style="height: 120%;"></canvas>
    </div>
  </div>
</div>

<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h3 class="text-primary">% ปิดงานแยกตามโครงการ</h3>
      {{I1.project}}
      <div class="progress" style="height: 30px;">        
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': I1.REL+'%'}">REL {{I1.REL | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': I1.TECO+'%'}">TECO {{I1.TECO | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': I1.CLSD+'%'}">CLSD {{I1.CLSD | number:'1.0-2'}}%</div>
      </div>

      <div class="mt-2">{{I2.project}}</div>
      <div class="progress" style="height: 30px;">        
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': I2.REL+'%'}">REL {{I2.REL | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': I2.TECO+'%'}">TECO {{I2.TECO | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': I2.CLSD+'%'}">CLSD {{I2.CLSD | number:'1.0-2'}}%</div>
      </div>

      <div class="mt-2">{{I3.project}}</div>
      <div class="progress" style="height: 30px;">        
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': I3.REL+'%'}">REL {{I3.REL | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': I3.TECO+'%'}">TECO {{I3.TECO | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': I3.CLSD+'%'}">CLSD {{I3.CLSD | number:'1.0-2'}}%</div>
      </div>

      <div class="mt-2">{{I4.project}}</div>
      <div class="progress" style="height: 30px;">        
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': I4.REL+'%'}">REL {{I4.REL | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': I4.TECO+'%'}">TECO {{I4.TECO | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': I4.CLSD+'%'}">CLSD {{I4.CLSD | number:'1.0-2'}}%</div>
      </div>

      <div class="mt-2">{{I5.project}}</div>
      <div class="progress" style="height: 30px;">        
        <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': I5.REL+'%'}">REL {{I5.REL | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': I5.TECO+'%'}">TECO {{I5.TECO | number:'1.0-2'}}%</div>
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': I5.CLSD+'%'}">CLSD {{I5.CLSD | number:'1.0-2'}}%</div>
      </div>


    </div>
  </div>
</div>

<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics">
    <div class="card-body">
       
      <canvas id='myBar' style="height: 120%;"></canvas>
    </div>
  </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics">
    <div class="card-body">
       
      <canvas id='myBar2' style="height: 120%;"></canvas>
    </div>
  </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics">
    <div class="card-body">
      
      
     <mat-form-field>
            <mat-label>งบ</mat-label>
            <mat-select (selectionChange)="selectBudget($event)">               
              <mat-option *ngFor="let budjet of budjets" [value]="budjet.value" >
                {{budjet.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>   
    
      <canvas id='myBar3' style="height: 120%;"></canvas>
    </div>
  </div>
</div>

<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
  <div class="card card-statistics">
    <div class="card-body">    
      <canvas id='myBar4' style="height: 120%;"></canvas>
    </div>
  </div>
</div>

</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 class="text-primary">ข้อมูล %การเบิกจ่าย เดือน มินายน 2562</h3>
           <div class="row">    
              <mat-form-field appearance="legacy">
                  <mat-label>ค้นหาข้อมูล</mat-label>
                  <input matInput placeholder="ระบุข้อมูลที่ต้องการค้นหา" matInput (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>งบ</mat-label>
                    <mat-select (selectionChange)="selectBudget2($event)">               
                      <mat-option *ngFor="let budjet of budjets" [value]="budjet.value" >
                        {{budjet.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> 
            </div>        
          <div class="table-responsive">
              <table class="mat-elevation-z8" mat-table  matSort #sort="matSort" [dataSource]="dataSource">      
  
                <ng-container matColumnDef="wbs">
                <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> wbs </th>
                <td class="table-lg" mat-cell *matCellDef="let jobprogress">{{jobprogress.wbs}}</td>
                </ng-container>
  
                <ng-container matColumnDef="jobName">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header>ชื่องาน </th>
                  <td class="table-lg" mat-cell *matCellDef="let jobprogress">{{jobprogress.jobName}}</td>
                </ng-container>
  
                <ng-container matColumnDef="workCostP3">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> คชจ. หน้างาน<br>ย้อนหลัง 2 เดือน </th>
                  <td class="table-lg" mat-cell *matCellDef="let jobprogress">{{jobprogress.workCostP3}}</td>
                </ng-container>
  
                <ng-container matColumnDef="workCostP4">
                    <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> คชจ. หน้างาน<br>ย้อนหลัง 1 เดือน </th>
                    <td class="table-lg" mat-cell *matCellDef="let jobprogress">
                        <div class="text-success" *ngIf="(jobprogress.workCostP4-jobprogress.workCostP3)>0">{{jobprogress.workCostP4}}<i class="mdi mdi-arrow-up"></i></div>
                        <div class="text-danger" *ngIf="(jobprogress.workCostP4-jobprogress.workCostP3)<=0">{{jobprogress.workCostP4}}</div></td>
                    
                  </ng-container>
  
                  <ng-container matColumnDef="workCostP5">
                      <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> คชจ. หน้างาน<br>เดือนปัจจุบัน </th>
                      <td class="table-lg" mat-cell *matCellDef="let jobprogress">
                        <div class="text-success" *ngIf="(jobprogress.workCostP5-jobprogress.workCostP4)>0">{{jobprogress.workCostP5}}<i class="mdi mdi-arrow-up"></i></div>
                        <div class="text-danger" *ngIf="(jobprogress.workCostP5-jobprogress.workCostP4)<=0">{{jobprogress.workCostP5}}</div></td>
                    </ng-container>
                    <ng-container matColumnDef="matCostP3">
                      <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> ค่าวัสดุ<br>ย้อนหลัง 2 เดือน </th>
                      <td class="table-lg" mat-cell *matCellDef="let jobprogress">{{jobprogress.matCostP3}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="matCostP4">
                        <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> ค่าวัสดุ<br>ย้อนหลัง 1 เดือน </th>
                        <td class="table-lg" mat-cell *matCellDef="let jobprogress">
                            <div class="text-success" *ngIf="(jobprogress.matCostP4-jobprogress.matCostP3)>0">{{jobprogress.matCostP4}}<i class="mdi mdi-arrow-up"></i></div>
                            <div class="text-danger" *ngIf="(jobprogress.matCostP4-jobprogress.matCostP3)<=0">{{jobprogress.matCostP4}}</div></td>
                        
                      </ng-container>
      
                      <ng-container matColumnDef="matCostP5">
                          <th class="table-lg" mat-header-cell *matHeaderCellDef mat-sort-header> ค่าวัสดุ<br>เดือนปัจจุบัน </th>
                          <td class="table-lg" mat-cell *matCellDef="let jobprogress">
                            <div class="text-success" *ngIf="(jobprogress.matCostP5-jobprogress.matCostP4)>0">{{jobprogress.matCostP5}}<i class="mdi mdi-arrow-up"></i></div>
                            <div class="text-danger" *ngIf="(jobprogress.matCostP5-jobprogress.matCostP4)<=0">{{jobprogress.matCostP5}}</div></td>
                        </ng-container>
  
                <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  
  </div>
