 <!------------------------------------Project summary Start------------------------------------------------->
<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body bg-info">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-numeric-1-box text-white icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right wrfont">คพจ1.4 คงค้าง</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 wrfont">{{nwbsPTDD}} งาน</h3>
            </div>
          </div>
        </div>
        <p class="text-white mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> ใช้ คชจ. หน้างาน {{workCostPerPTDD | number}}%
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body bg-success">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-numeric-2-box text-white icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right wrfont">I.BY คงค้าง</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 wrfont">{{nwbsBY}} งาน</h3>
            </div>
          </div>
        </div>
        <p class="text-white mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> ใช้ คชจ. หน้างาน {{workCostPerBY | number}}%
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body bg-primary">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-numeric-3-box text-white icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right wrfont">I.MR,I.41 คงค้าง</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 wrfont">{{nwbsMR}} งาน</h3>
            </div>
          </div>
        </div>
        <p class="text-white mt-3 mb-0">
          <i class="mdi mdi-alert-octagon  mr-1" aria-hidden="true"></i> ใช้ คชจ. หน้างาน {{workCostPerMR | number}}%
        </p>
      </div>
    </div>
  </div>
  <!--
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body bg-danger">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-numeric-4-box text-white icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right wrfont">คงค้างรวม</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 wrfont">200 งาน</h3>
            </div>
          </div>
        </div>
        <p class="text-white mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> ใช้ คชจ. หน้างาน 65%
        </p>
      </div>
    </div>
  </div>
  -->
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card bg-white text-dark">
            <p class="mb-0 text-left ">%เบิก คชจ. หน้างานรวม</p>
              <canvas id='myDonut' style="height: 100%;"></canvas>
          </div>
      </div>
  </div>
</div>

  <!------------------------------------Project summary end------------------------------------------------->




<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
          
        <h1 class="card-title"> ของบประมาณงานปรับปรุงระบบจำหน่ายและงานย้ายแนว</h1>
          
        <form class="form-sample" #f="ngForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
            รายละเอียดงาน
          </p>
  
          <!------------------------------------ROW------------------------------------------------->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">ประเภทงาน</label>
                <div class="col-sm-4">
                  <div class="form-radio">
                    <label class="form-check-label  input-lg">
                      <input type="radio" class="form-check-input" name="projectType" id="membershipRadios1" value="impPro" (change) ="chgProject()" ngModel required>
                      งานปรับปรุงระบบไฟฟ้า
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-radio">
                    <label class="form-check-label  input-lg">
                      <input type="radio" class="form-check-input" name="projectType" id="membershipRadios2" value="movePole" (change) ="chgProject()" ngModel required>
                      งานย้ายแนว
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label input-lg">บันทึกเลขที่</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-lg" name="docName" ngModel required>
                  </div>
                </div>
              </div>            
            <!--
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">งานโครงการ</label>
                <div class="col-sm-9">
                  <select  class="form-control form-control-sm  input-lg" name="project" (change) = "selProject()" ngModel>
                    <option *ngFor="let project of projects" [ngValue]="project">
                      {{project}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          -->
          </div>
          <!-----------------------------END------------------------------------------------>
       
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label input-lg">WBS</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-lg" name="wbs" (change)="wbsChange()"ngModel required>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label input-lg">ชื่องาน</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control input-lg" name="jobName" ngModel required> 
                </div>
              </div>
            </div>
          </div>
          <!-----------------------------END------------------------------------------------>
          <!------------------------------------ROW------------------------------------------>
          <div class="row">


            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">สาเหตุ</label>
                <div class="col-sm-9">
                  <select  class="form-control form-control-sm  input-lg" name="causeName" ngModel>
                    <option value="" disabled>สาเหตุการดำเนินการ</option>
                    <option *ngFor="let causeName of causeNames" [ngValue]="causeName">
                      {{ causeName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngIf="show">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">การแก้ไข</label>
                <div class="col-sm-9">
                  <select  class="form-control form-control-sm  input-lg" name="solveMet" ngModel>
                    <option value="" disabled>วิธีการแก้ไข</option>
                    <option *ngFor="let solveMet of solveMets" [ngValue]="solveMet">
                      {{ solveMet }}
                    </option>
                  </select>
                </div>
              </div>
            </div>    
            <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label  input-lg">หมายเหตุ</label>
                  <div class="col-sm-9">
                    <select  class="form-control form-control-sm  input-lg" name="note" ngModel>
                      <option value="" disabled>หมายเหตุ</option>
                      <option *ngFor="let note of notes" [ngValue]="note">
                        {{ note }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

          </div>
          <!-----------------------------END------------------------------------------------>    
       
          <div class="row">

            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">แรงสูง</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-warning input-lg" name="mv" placeholder="วงจร-กม" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">หม้อแปลง</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="tr" placeholder="kVA" ngModel> 
                </div>
              </div>
            </div>
    
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label  input-lg">แรงต่ำ</label>
              <div class="col-sm-9">
                <input type="text" class="form-control  input-lg" name="lv" placeholder="วงจร-กม" ngModel> 
              </div>
            </div>
          </div>
        </div>
          <!-----------------------------END------------------------------------------------>        
        <div *ngIf="show" class="row">

              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label  input-lg">PEA หม้อแปลง</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control  input-lg" name="peatr" placeholder="00-000000" ngModel>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label  input-lg">แรงดันปลายสาย</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control  input-lg" name="vdrop" placeholder="โวลต์" ngModel> 
                  </div>
                </div>
              </div>
      
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label  input-lg">%โหลดหม้อแปลง</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control  input-lg" name="loadTr" placeholder="%" ngModel> 
                </div>
              </div>
            </div>
        </div>
          <!-----------------------------END------------------------------------------------>   
        <div class="row">
            <div class="col-md-12 row">
                <div class="form-group" *ngIf="chgWbs">
                    <label class="input-lg" for="fileDocname">1.เลือกไฟล์อนุมัติประมาณการ</label>
                    <input type="file"
                           id="fileDocname"
                           name="fileDocname"
                           (change)="handleFileDoc($event)" ngModel required>
                    <label class="input-lg"> {{uploadResponse.status}} </label>
                   
                </div>
                <div class="form-group" *ngIf="chgWbs">
                  <label class="input-lg" for="file">2.เลือกไฟล์แผนผัง</label>
                  <input type="file"
                         id="file"
                         name="filename"
                         (change)="handleFileInput($event)" ngModel required>
                  <label class="input-lg"> {{uploadResponse.status}} </label>
                 
              </div>

            </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!f.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        </div>
         </form>
      </div>
    </div>
  </div>
  
</div>
 
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">งานที่ขออนุมัติ</h4>
               
        <mat-form-field appearance="legacy">
            <mat-label>ค้นหาข้อมูล</mat-label>
            <input matInput placeholder="ระบุข้อมูลที่ต้องการค้นหา" matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
                
        <div class="table-responsive">
            <table class="mat-elevation-z8" mat-table  matSort [dataSource]="dataSource">      

              <ng-container matColumnDef="wbs">
              <th class="table-lg" mat-header-cell *matHeaderCellDef> wbs </th>
              <td class="table-lg" mat-cell *matCellDef="let wbsdata"> <a target="_blank" rel="noopener noreferrer" href={{URL+wbsdata.filename}}> {{wbsdata.wbs}} </a></td>
              </ng-container>

              <ng-container matColumnDef="jobName">
                <th class="table-lg" mat-header-cell *matHeaderCellDef>ชื่องาน </th>
                <td class="table-lg" mat-cell *matCellDef="let wbsdata"><a target="_blank" rel="noopener noreferrer" href={{URL+Doc+wbsdata.filename}}> {{wbsdata.jobName}} </a></td>
              </ng-container>

              <ng-container matColumnDef="causeName">
                <th class="table-lg" mat-header-cell *matHeaderCellDef> สาเหตุการดำเนินการ </th>
                <td class="table-lg" mat-cell *matCellDef="let wbsdata">{{wbsdata.causeName}}</td>
              </ng-container>

              <ng-container matColumnDef="solveMet">
                <th class="table-lg" mat-header-cell *matHeaderCellDef> วิธีการแก้ไข </th>
                <td class="table-lg" mat-cell *matCellDef="let wbsdata"> {{wbsdata.solveMet}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef>หมายเหตุ</th>
                  <td class="table-lg" mat-cell *matCellDef="let wbsdata"> {{wbsdata.note}} </td>
                </ng-container>

              <ng-container matColumnDef="status">
                  <th class="table-lg" mat-header-cell *matHeaderCellDef> สถานะงาน </th>
                  <td class="table-lg" mat-cell *matCellDef="let wbsdata"> <div *ngIf="wbsdata.status == 1"><label class="badge badge-warning">In progress</label> </div> </td>
                </ng-container>

              <ng-container matColumnDef="del">
                <th class="table-lg" mat-header-cell *matHeaderCellDef>  </th>
                <td class="table-lg" mat-cell *matCellDef="let wbsdata"> <div *ngIf="wbsdata.status == 0"><button type="button" class="btn btn-danger btn-fw btn-sm" (click)="delWbs(wbsdata)">Del</button></div>  </td>
              </ng-container>

              <tr class="table-lg" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr class="table-lg" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>

