<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
          
        <h1 class="card-title"> Upload File</h1>
          
        <form class="form-sample" #f="ngForm" (ngSubmit)="onSubmit()">

  
          <!-----------------------------END------------------------------------------------>   
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">1.เลือกไฟล์ ZPSR048</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFileInput($event)" ngModel required>
                    <label class="input-lg"> {{uploadResponse.status}} </label>                  
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                      <label class="input-lg" for="file">1.เลือกไฟล์ ZPSR048</label>
                      <input type="file"
                             id="file"
                             name="filename"
                             (change)="handleFileInput($event)" ngModel required>
                      <label class="input-lg"> {{uploadResponse.status}} </label>                  
                  </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                    <label class="input-lg" for="file">1.เลือกไฟล์ ZPSR048</label>
                    <input type="file"
                           id="file"
                           name="filename"
                           (change)="handleFileInput($event)" ngModel required>
                    <label class="input-lg"> {{uploadResponse.status}} </label>                  
                </div>
            </div>
            </div>
          </div>
            <div class="col-md-3">
              <button type="submit" [disabled]="!f.valid" class="btn btn-success mr-2">Submit</button>
            </div>
        
         </form>
      </div>
    </div>
  </div>
  
</div>